<div class="categories-outer">

    <div class="container" style="text-align: center;">

        <div class="col-lg-6 mx-auto" id="text-1">
            <p class="display-6">
                Que es lo que deseas ordenar? <br> Realiza tu pedido Ahora.
            </p>
        </div>

        <div class="text-center" style="margin-bottom: 60px; margin-top: 60px;">
            <button type="button" class="btn btn-md btn-outline-dark" (click)="onViewCategory()">Pide lo que mas te gusta</button>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2">
            <div class="col">
                <a>
                    <div class="card">
                        <img src="../../assets/images/verdura.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Verduras</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="../../assets/images/Fruta.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Frutas</h5>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>