<div class="pt-5 my-5 px-xs-0 px-sm-0 pt-xs-0 pt-sm-0 text-center">
    <div class="overflow-hidden">
        <div class="container">
            <img src="../../assets/images/mercado.jpg" style="width: 100%; margin-top: 20px;" class="border mb-4" alt="Example image" loading="lazy">
        </div>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            En nuestro mercado de frutas y verduras frescas en línea, trabajamos de la mano con productores locales para ofrecer una amplia variedad de frutas frescas y de alta calidad. Valoramos la relación con nuestros proveedores locales y creemos en apoyar a la economía local al comprar directamente a los productores cercanos.
        </p>
    </div>
</div>

<app-categories></app-categories>

<!--<div style="margin-top: 25px;">
    <app-header-image></app-header-image>
</div>-->

