<main class="confirm-order-page">
    <div class="album py-5">
        <div class="container">

            <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
                <span class="fs-2">Confirmar Orden</span>
            </div>

            <div class="text-center" *ngIf="orderArray.length == 0">
                <h3>Necesita Añadir Primero al Carrito.</h3>
            </div>

            <div *ngIf="orderArray.length > 0">
                <div *ngFor="let item of orderArray">
                    <div class="card mb-3 mx-auto" style="max-width: 700px;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.name}}</h5>
                                    <p class="card-text item-price">
                                        ${{item.price}} × {{item.quantity}} = ${{getItemTotalAmount(item.price, item.quantity)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center" style="margin-top: 80px; margin-bottom: 30px;">
                    <h4>Total : ${{totalAmt}}</h4>
                    <p>(incluido el  19% IVA)</p>
                </div>

                <div class="mx-auto text-center" style="max-width: 500px; margin-top: 20px; margin-bottom: 50px;" *ngIf="addressNotFound == true">
                    <div class="alert alert-danger" role="alert">
                        No has Proporcionado una dirección, Actualizala en el perfil para seguri con el pedido.
                    </div>

                    <button class="btn btn-md btn-outline-primary" (click)="goToProfile()">Ve a tu Perfil</button>
                </div>

                <div class="alert alert-danger mx-auto" role="alert" style="max-width: 500px; margin-bottom: 20px;" *ngIf="notAvailableItems.length > 0">
                    <h5>Prodcutos no disponibles:</h5>
                    <ul>
                        <li *ngFor="let item of notAvailableItems">{{item.name}}</li>
                    </ul>
                </div>

                <div class="text-center cart-btn-group" *ngIf="isProcessing == false && isOrdered == false">
                    <div class="form-group">
                        <button class="btn btn-outline-warning" (click)="goBackToCart()" style="margin-right: 15px">Volver al Carrito</button>
                        <button class="btn btn-outline-danger" (click)="confirm()" *ngIf="notAvailableItems.length < 1">Confirmar</button>
                    </div>
                </div>

                <div class="alert alert-success mx-auto" role="alert" style="max-width: 500px;" *ngIf="isOrdered == true">
                    Tu orden ha sido enviada con exito!
                </div>

                <div class="text-center cart-btn-group" *ngIf="isOrdered == true">
                    <div class="form-group">
                        <button class="btn btn-outline-primary" [routerLink]="['/orders']">Mis Ordenes</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>